name: Build Kivy APK

on:
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip python3-setuptools python3-virtualenv git zip unzip openjdk-17-jdk

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython

      - name: Setup Android SDK
        run: |
          mkdir -p $HOME/.buildozer/android/platform/android-sdk/cmdline-tools
          cd $HOME/.buildozer/android/platform/android-sdk
          sdkmanager "platform-tools" "cmdline-tools;latest"
          yes | sdkmanager --licenses
          sdkmanager "build-tools;36.1.0" "platforms;android-31"

      - name: Build APK
        run: |
          buildozer android debug
